extends layout

block content
  h1= pageTitle
  form(method="post" action="/books/new")
    p
      label(for="title") title
      input(name="title" type="text" id="title")
    p
      label(for="author") author
      input(name="author" type="text" id="author")
    p
      label(for="genre") genre
      input(name="genre" type="text" id="genre")
    p
      label(for="year") year
      input(name="year" type="text" id="year")

    p
      input(type="submit" value="Create New Book")
